@use "../global/" as *;

.p-header-burger {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  display: none;

  @include mq('sp') {
    display: block;
    height: 26px;
    // left: -40px;
    // position: absolute;
    position: fixed;
    right: 25px;
    top: 20px;
    transition: right 0.3s linear;
    width: 26px;
  }
}

.p-header-burger__line {
  @include mq('sp') {
    background-color: #fff;
    border-radius: 4px;
    display: block;
    height: 4px;
    left: 0;
    position: absolute;
    transition: 0.3s;
    width: 26px;
    z-index: 1;

    &:nth-child(1) {
      top: 2px;
    }

    &:nth-child(2) {
      top: 10px;
    }

    &:nth-child(3) {
      top: 18px;
    }
  }

  @include mq('sp') {
    .add-active & {
      background-color: #fff;

      &:nth-child(1) {
        top: 10px;
        transform: rotate(-45deg);
      }

      &:nth-child(2) {
        left: 100%;
        opacity: 0;
      }

      &:nth-child(3) {
        top: 10px;
        transform: rotate(45deg);
      }
    }
  }
}