@use "../global/" as *;
@use "sass:math";

.p-mv {
  max-width: 1240px;
	background: #eee;
	margin-right: 0;
	margin-left: 40px;
	padding: 55px 0 59px 60px;
	overflow: hidden;

	@include mq(s) {
		margin-left: 0;
		padding-top: 36px;
		padding-left: 1px;
		padding-bottom: 41px;
	}
}

.p-mv__text {
  position: absolute;
  inset-block: 0;
  margin-block: auto;
  width: inherit;
  height: fit-content;
  background-color: #fff;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;

}

.p-mv__ttl {
  @include font(26);
  font-weight: 700;
}

.p-mv__txt {}