@use "../global/" as *;

.p-mv {
  // background: transparent url(../img/mv.JPG) no-repeat center center / cover;
  height: 648px;
	position: relative;

	@include mq('sp') {
		height: 668px;
	}

}

.p-mv__inner {
  margin: 0 auto;
  position: relative;
  height: inherit;

@include mq('sp') {
  width: 100%;
}
}

.p-mv__content {


}

.p-mv__ttl {
  font-size: 3.2rem;
  font-weight: bold;
  line-height:  lh(48, 32);

  @include mq(sp){
    font-size: 1.9rem;
    line-height:  lh(40, 24);
  }
}

.p-mv__txt {

}