@use "../global/" as *;
@use "sass:map";

body{
  font-family: $mainFont;
  color: map.get($color, textColor);
  padding-top: $header-height;

  @include mq(s){
    padding-top: $header-height-sp;
  }
}

a{
  text-decoration: none;
  color: inherit;
}