@use "../global/" as *;
@use "sass:math";

.p-mv{

}

.p-mv__inner {
  width: 100%;
  position: relative;
}

.p-mv__image {
  background: transparent url(../img/mv.JPG) no-repeat top right / 78.125%; //親要素に対する画像の割合
  @include mq(hov){
    padding-top: math.div(600,1280) * 100%; //画像のアスペクト比を維持（画像高さ / 親要素の全体幅）
    max-height: 100vh;
  }

  @include mq(sp){
    background-size: cover;
    background-position: center center;
    padding-top: 120%;
  }
  
  img{
    width: 100%;
  }
}

.p-mv__text {
  @include mq(hov){
    position: absolute;
    //左側中央寄せ
    inset-block: 0;
    margin-block: auto;
    left: 0;
    height: fit-content;
    padding: 80px 40px;
    background-color: #fff;
  }

  @include mq(sp){
    text-align: center;
    margin-top: 20px;
  }
}

.p-mv__ttl {
  @include font(26);
  font-weight: 700;
}

.p-mv__txt {

}

